<a href="https://colab.research.google.com/github/410537160/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

請計算0~50的奇數與偶數和

In [1]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
     result += i
  i+=1
print("0~50的奇數和結果是%d" % result)

0~50的奇數和結果是625

In [3]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
     result += i
  i+=1
print("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

讓使用者輸入一個正整數後，程式會顯示由1到該整數的倒三角形

In [5]:
n = int(input("請輸入正整數: "))
for i in range(1,n+1):
   for j in range(i,n+1):
      print("*",end="")
   print()

請輸入正整數: 10
**********
*********
********
*******
******
*****
****
***
**
*

請用for迴圈，求出數值1~100中，所有是3或是7倍數的數之總和

In [6]:
sum = 0
for i in range(0, 101):
   if (i%3==0 or i%7==0):
      sum += i
print("數值 1~100中，所有是3或7倍數的數之總和 =",sum)

數值 1~100中，所有是3或7倍數的數之總和 = 2208

讓使用者輸入一個正整數後，列出該數的所有因數，並判斷該數是否為質數

In [7]:
p=1
counter=0
n = int(input("請輸入正整數: "))
print(n,"的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if (counter==2):
   print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數: 10
10 的因數有 1 2 5 10
10 不是質數

In [8]:
list1 = [1,2,3,4,5]

In [9]:
list1

[1, 2, 3, 4, 5]

In [10]:
list2 = ["香蕉","蘋果","橘子"]

In [11]:
list2

['香蕉', '蘋果', '橘子']

In [12]:
list3 = [1,"香蕉",True]

In [13]:
list3

[1, '香蕉', True]

In [14]:
print(list1)

[1, 2, 3, 4, 5]

In [15]:
print(list1[0])

1

In [16]:
print(list1[1])

2

In [17]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [18]:
list4 = ["香蕉","蘋果","橘子"]

In [19]:
print(list4[1])

蘋果

In [20]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [21]:
print(list4[3])

IndexError: ignored

In [22]:
print(list4[-1])

橘子

In [23]:
print(list4[-2])

蘋果

In [24]:
print(list4[-3])

香蕉

In [25]:
print(list4[-4])

IndexError: ignored

In [26]:
list5 =[["tom","1234"]],["mary","abcd"],["david","5678"]

In [27]:
print(list5[1])

['mary', 'abcd']

In [28]:
print(list5[0])

[['tom', '1234']]

In [29]:
print(list5[1][1])

abcd

In [30]:
print(list5[0][0])

['tom', '1234']

請建立一個包含三個整數元素的串列，代表這三科的成績，再依序顯示各科成績(串列練習)

In [31]:
score = [85, 79, 93]
print("國文成績: %d分" % score[0])
print("數學成績: %d分" % score[1])
print("英文成績: %d分" % score[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [35]:
list6 = [1,2,3,4,5]

In [36]:
print(list6[0])

1

In [37]:
list6[0] = 9

In [38]:
print(list6[0])

9

In [39]:
print(list6)

[9, 2, 3, 4, 5]

In [40]:
list7 = ["香蕉","蘋果","橘子"]

In [41]:
for s in list7:
   print(s, end= ",")

香蕉,蘋果,橘子,

請建立一個包含三個不同型別元素的串列，分別包含了數值、字串和布林型別的元素，再利用for迴圈讀取串列的各個元素

In [42]:
items = [123,"apple",True]
for item in items:
   print(item)

123
apple
True

In [43]:
scores = [85,79,93]

In [44]:
print(len(scores))

3

In [45]:
scores = [85,79,93]
for i in range(len(scores)):
   print(scores[i])

85
79
93

請使用for...range迴圈讀取串列，輸出下面兩結果(串列練習)

In [47]:
subjects =["國文","數學","英文"]
score = [85,79,93]
for i in range(len(scores)):
   print("%s成績:%d分"% (subjects[i],scores[i]))

國文成績:85分
數學成績:79分
英文成績:93分

In [51]:
subjects =[1,2,3]
score = ["Tom","Mary","Tony"]
for i in range(len(scores)):
   print("編號:%d 姓名:%s" % (subjects[i],scores[i]))

編號:1 姓名:85
編號:2 姓名:79
編號:3 姓名:93